<p id="notice"><%= notice %></p>

<h1>Openings</h1>

<table class="table table-striped table-sm table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Variation</th>
      <th>Games</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @openings.each do |opening| %>
      <tr>
        <td><%= opening.name %></td>
        <td><%= opening.variation %>(<%= opening.ecocode %>)</td>
        <td><%= link_to opening.games_count, opening_games_path(opening) %></td>
        <td><%= link_to 'Edit', edit_opening_path(opening) %></td>
        <td><%= link_to 'Destroy', opening_path(opening), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
