<p id="notice"><%= notice %></p>
<%= render 'games/game', game: @game %>
<div class="row">
  <div class="col-4">
    <%= render 'games/board', position: position_for(@moves) %>
    <% if @move.white? %>
      Position after <%= display_move_number(@move) %>. <%= @move.move %>
    <% else %>
      Position after <%= display_move_number(@move) %>... <%= @move.move %>
    <% end %>
    <div class="row">
      <span class="col-2">&nbsp;</span>
      <span class="col-2"><%= link_to '<<', @game.moves.first %></span>
      <span class="col-2"><%= link_to '<', @game.moves.find_by(number: @move.number - 1) %></span>
      <span class="col-2"><%= link_to '>', @game.moves.find_by(number: @move.number + 1) %></span>
      <span class="col-2"><%= link_to '>>', @game.moves.last %></span>
      <span class="col-2">&nbsp;</span>
    </div>
  </div>
  <div class="col-3">
    <%= render 'move_list', moves: @game.moves.select { |m| display_move_number(m).between?(display_move_number(@move) - 10, display_move_number(@move) + 10) } %>
  </div>
</div>

<%= link_to 'Back', games_path %>
